@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --topic-unselected: #333333;

    /* Topic colors for light mode */
    --topic-color-1: #e6f2ff;
    --topic-color-2: #e6ffe6;
    --topic-color-3: #fff2e6;
    --topic-color-4: #ffe6e6;
    --topic-color-5: #f2e6ff;
    --topic-color-default: #f0f0f0;
  }
 
  .light {
    --background: 51 48 98%;
    --foreground: 0 0% 10%;
 
    --card: 51 18% 98%;
    --card-foreground: 0 0% 10%;
 
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 10%;
 
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 10%;
 
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 30%;
 
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 10%;
 
    --destructive: 0 62.8% 55%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 85%;
    --input: 0 0% 90%;
    --ring: 0 0% 85%;

    /* Topic colors for light mode (same as root) */
    --topic-color-1: #e6f2ff;
    --topic-color-2: #e6ffe6;
    --topic-color-3: #fff2e6;
    --topic-color-4: #ffe6e6;
    --topic-color-5: #f2e6ff;
    --topic-color-default: #f0f0f0;
    
    --topic-unselected: #ccc6c6;;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --topic-unselected: #293845;

    /* Topic colors for dark mode */
    --topic-color-1: #1a3d66;
    --topic-color-2: #1a661a;
    --topic-color-3: #663d1a;
    --topic-color-4: #661a1a;
    --topic-color-5: #3d1a66;
    --topic-color-default: #333333;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .pdf-highlight {
    background-color: yellow !important;
    color: black !important;
    display: inline !important;
    padding: 0 2px !important;
    margin: 0 1px !important;
    border-radius: 2px !important;
    box-shadow: 0 0 0 1px yellow !important;
  }
  
}